<template>
    <section id="add-review">
        <div id="head">
            <div id="title">Добавить отзыв</div>
            <input id="send"  type="submit" value="Отправить" form="data">
        </div>
        <form id="data" @submit.prevent="send">
            <div id="data-rank">
                <div id="score">Ваша оценка:</div>
                <div id="data-rank-wrap">
                    <div v-for="rank in [1, 2, 3, 4, 5]" :key="rank" class="data-rank">
                        <input type="radio" :value="rank" v-model="srank" :id="'data-rank-' + rank">
                        <label :for="'data-rank-' + rank">{{rank}}</label>
                    </div>
                </div>
            </div>
            <div class="form-data">
                <label for="name">Ваше имя:</label>
                <input id="name" type="text" v-model="name">
            </div>
            <div class="form-data">
                <label for="review">Ваш отзыв:</label>
                <textarea id="review" type="text" v-model="review"></textarea>
            </div>
        </form>
    </section>
</template>
<script lang="ts" src="../ts/add-review.ts"></script>
<style lang="scss" src="../scss/add-review.scss"></style>