<template>
    <div id="reviews">
        <div class="reviews" v-for="review in reviews" :key="review.id">
            <div class="user">
                <div class="avatar">
                    <div></div>
                </div>
                <div class="info">
                    <div class="name">{{review.name}}</div>
                    <div class="last-game">Играл(а) {{review.lastGame}}</div>
                </div>
            </div>
            <div class="score">
                <div class="rank-date">
                    <div class="rank">{{review.rank}} из 5</div>
                    <div class="date">{{review.date}}</div>
                </div>
                <div class="content">{{review.content}}</div>
            </div>
        </div>
        <a id="more" href="#" v-if="isMore" @click.prevent="loadMore">Посмотреть еще</a>
    </div>
</template>
<script lang="ts" src="../ts/reviews.ts"></script>
<style lang="scss" src="../scss/reviews.scss"></style>