<template>
    <section id="review">
        <div id="head">
            <div id="title">Оценки и отзывы</div>
            <router-link id="add-review" to="/add">Добавить отзыв</router-link>
        </div>
        <div id="top">
            <div id="score">
                <div id="total">{{rating.avg}}</div>
                <div id="of">из 5</div>
                <div id="count">{{reviews_count}} оценок</div>
            </div>
            <div id="rating">
                <div v-for="rank in rating.ranks" :key="rank.rank">
                    <div class="rank">{{rank.rank}}</div>
                    <div class="progress"><div :style="{width: rank.percent.toString() + '%'}"></div></div>
                    <div class="percent">{{rank.percent}}%</div>
                </div>
            </div>
        </div>
        <reviews></reviews>
    </section>
</template>
<script lang="ts" src="../ts/review.ts"></script>
<style lang="scss" src="../scss/review.scss"></style>