$basecolor: #ffffff;
%large-font {
    color: $basecolor;
    font-size: 42px;
}
%medium-font {
    color: $basecolor;
    font-size: 20px;
}
%small-font {
    color: $basecolor;
    font-size: 16px;
}
%main-family {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
%flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}
%flex-row {
    display: flex;
    flex-flow: row;
}
%flex-column {
    display: flex;
    flex-flow: column;
}
main {
    padding: 0px 40px;
    section#add-review {
        margin: 80px auto;
        max-width: 1080px;
        #head {
            @extend %flex-row-wrap;
            align-items: center;
            margin-bottom: 40px;
            #title {
                @extend %large-font;
                @extend %main-family;
                text-transform: uppercase;
                flex: 1;
            }
            #send {
                @extend %medium-font;
                line-height: 40px;
                border: 1px #ffffff solid;
                background: none;
                padding: 0px 12px;
            }
        }
        #data {
            label {
                @extend %small-font;
                line-height: 36px;
                width: 160px;
                font-weight: bold;
            }
            #data-rank {
                @extend %flex-row-wrap;
                align-items: center;
                margin-bottom: 40px;
                #score {
                    @extend label;
                    line-height: 42px;
                }
                #data-rank-wrap {
                    @extend %flex-row-wrap;
                    .data-rank {
                        margin-right: 20px;
                    }
                }
            }
            .form-data {
                @extend %flex-row-wrap;
                align-items: flex-start;
                margin-bottom: 40px;
                input[type="text"] {
                    @extend %medium-font;
                    background-color: #1b1b1b;
                    line-height: 36px;
                    border: none;
                    flex: 1 300px;
                    max-width: 600px;
                    padding: 0 20px;
                }
                textarea {
                    @extend %medium-font;
                    background-color: #1b1b1b;
                    flex: 1 300px;
                    max-width: 600px;
                    padding: 12px 20px;
                    border: none;
                }
            }
        }
    }
}