$basecolor: #ffffff;
%large-font {
    color: $basecolor;
    font-size: 42px;
}
%medium-font {
    color: $basecolor;
    font-size: 20px;
}
%main-family {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
main {
    padding: 0px 40px;
    section#review {
        margin: 80px auto;
        max-width: 1080px;
        & %flex {
            display: flex;
            flex-flow: row wrap;
        }
        #head {
            @extend %flex;
            align-items: center;
            #title {
                @extend %large-font;
                @extend %main-family;
                text-transform: uppercase;
                flex: 1;
            }
            #add-review {
                @extend %medium-font;
                line-height: 40px;
                border: 1px #ffffff solid;
                background: none;
                padding: 0px 12px;
                text-decoration: none;
            }
        }
        #top {
            @extend %flex;
            align-items: center;
            margin: 40px 0;
            #score {
                display: flex;
                flex-flow: column wrap;
                flex: 1;
                #total {
                    @extend %large-font;
                    @extend %main-family;
                }
                #of {
                    @extend %medium-font;
                    font-weight: bold;
                }
                #count {
                    @extend %medium-font;
                    font-weight: 100;
                }
            }
            #rating {
                flex: 2;
                display: flex;
                flex-flow: column;
                align-items: normal;
                & > div {
                    @extend %medium-font;
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    .rank {
                        font-weight: bold;
                        width: 42px;
                    }
                    .percent {
                        font-weight: 100;
                        width: 42px;
                        text-align: right;
                    }
                    .progress {
                        flex: 1 200px;
                        margin: 16px;
                        height: 8px;
                        background-color: #1b1b1b;
                        div {
                            height: 100%;
                            background-color: #e9202d;
                        }
                    }
                }
            }
        }
    }
}