$basecolor: #ffffff;
%flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}
%flex-row {
    display: flex;
    flex-flow: row;
}
%flex-column {
    display: flex;
    flex-flow: column;
}
%medium-font {
    color: $basecolor;
    font-size: 20px;
}
%small-font {
    color: $basecolor;
    font-size: 16px;
}
main #review > #reviews {
    div.reviews {
        @extend %flex-row-wrap;
        align-items: flex-start;
        margin-bottom: 12px;
        background-color: #1b1b1b;
        .user {
            padding: 20px;
            display: flex;
            flex-flow: row;
            align-items: flex-start;
            .avatar {
                div {
                    background-color: #2f2f2f;
                    height: 60px;
                    width: 60px;
                    border-radius: 30px;
                }
            }
            .info {
                @extend %flex-column;
                justify-content: center;
                margin: 0px 20px;
                .name {
                    @extend %medium-font;
                }
                .last-game {
                    @extend %small-font;
                    line-height: 2;
                }
            }
        }
        .score {
            @extend %flex-column;
            padding: 20px;
            flex: 1 200px;
            .content {
                @extend %small-font;
                line-height: 2;
            }
            .rank-date {
                @extend %flex-row;
                align-items: flex-start;
                .date {
                    @extend %medium-font;
                    flex: 1 100px;
                    text-align: end;
                }
                .rank {
                    @extend %medium-font;
                }
            }
        }
    }
    #more {
        color: #e9202d;
        font-size: 20px;
        display: block;
        text-align: center;
        text-decoration: none;
    }
}